
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="content-top" >
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h2>Giỏ hàng <span>(0 sản phẩm)</span></h2>
            <div class="empty">
                <img src="https://salt.tikicdn.com/desktop/img/mascot@2x.png" alt="" class="empty__img">
                <p class="empty__note">Không có sản phẩm nào trong giỏ hàng của bạn.</p>
                <a data-view-id="cart_empty_continue.shopping" href="/" class="to-buy empty__btn">Tiếp tục mua sắm</a>

            </div>
        </div>
    </div>
</div>



